/* region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    height: 100vh;
}

/* #region assets */

/* color */
:root{
    -bg-secondary: #18181A;
    -bg-primary: #0E0E0F;
    -bg-tertiary: #2F2F35;

    /* text */
    -cl_txt-primary: #EFEFF1;
    -cl_txt-secondary: #ADADB8;
    -cl_txt-hover: #CFAFFE;
    
    /* icon */
    -cl-icon: #FDFDFF;
}

/* text style */
.txt-primary{
    font-size: 18px;
    line-height: auto;
    font-weight: 600;
}

.txt-secondary{
    font-size: 14px;
    line-height: auto;
    font-weight: 600;
}

.txt-tertiary{
    font-size: 13px;
    line-height: auto;
    font-weight: 400;
}
/* #endregion assets */